html {
    width: 100%;
    background-image: url(./wall.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;

}

.nav {
    width: 100vh;
    margin-left: -10px;
    display: flex;
    margin-left: 25%;
    gap: 4rem;
}

.container {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.185);
    border: 1px solid gray;
    background-size: cover;
    display: flex;
    height: 10vh;
    gap: 8rem;
    border-radius: 9px;
}

.namaa {
    display: flex;
    color: rgb(90, 90, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: inifite-scroll 1s linear;
}

.namab {
    display: flex;
    color: rgb(90, 90, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: inifite-scroll 2s linear;
}

.namac {
    display: flex;
    color: rgb(90, 90, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: inifite-scroll 3s linear;
}

.namad {
    display: flex;
    color: rgb(90, 90, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: inifite-scroll 4s linear;
}

.nama1a {
    display: flex;
    color: rgb(253, 61, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: nama-tengah1 5s linear;
}

.nama1b {
    display: flex;
    color: rgb(253, 61, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: nama-tengah1 6s linear;
}

.nama1c {
    display: flex;
    color: rgb(253, 61, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: nama-tengah1 7s linear;
}

.nama1d {
    display: flex;
    color: rgb(253, 61, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: nama-tengah1 8s linear;
}

.nama1e {
    display: flex;
    color: rgb(253, 61, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: nama-tengah1 9s linear;
}

.nama1f {
    display: flex;
    color: rgb(253, 61, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: nama-tengah1 10s linear;
}



.nama4 {
    display: flex;
    color: rgb(92, 217, 255);
    justify-content: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: nomor 11s linear;
}


.tugas {
    display: flex;
    justify-content: right;
    margin-top: 21px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-shrink: 0;
}

.navkls {
    background-color: rgba(0, 0, 0, 0.3);
    height: 60px;
    margin-top: 2px;
    border-radius: 3px;
    border: 1px solid gray;
}

.kls {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 81);
    animation: kelas 12s linear;
}

.img {
    height: 225px;
    width: 150px;
    margin-left: 5%;
    margin-top: 10px;
    /* margin-left: 46%; */
    border: 2px solid white;
    animation: img 13s linear;
    border-radius: 7% 93% 5% 95% / 95% 4% 96% 5%;
    filter: drop-shadow(6px 6px 0px gray);
}

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.bioT {
    color: white;
    font-family:  'Courier New', Courier, monospace;
}




@keyframes inifite-scroll {
    from {
        color: transparent;
    }

    to {
        color: rgb(7, 7, 92);
    }
}

@keyframes nama-tengah1 {
    from {
        color: transparent;
    }

    to {
        color: rgb(50, 6, 80);
    }
}

@keyframes nomor {
    from {
        color: transparent;
    }

    to {
        color: rgb(4, 27, 61);
    }
}

@keyframes kelas {
    from {
        color: transparent;
    }

    to {
        color: rgb(32, 32, 2);
    }
}

@keyframes img {
    from {
        filter: blur(4px) drop-shadow(0px 0px 0px transparent);
        border-radius: 0px;
    }

    to {
        filter: blur(0) drop-shadow(6px 6px 0px gray);
        border-radius: 7% 93% 5% 95% / 95% 4% 96% 5%;
    }
}

/* mobile */
@media (max-width: 576px) {
    .nav {
        gap: 1rem;
        margin-left: 13%;
    }
}
